<article>
  <p>Разработка и поддержка клиентской части проекта lookwish.ru (SPA, Angular)</p>
    - Организация сборки новых и старых проектов (grunt, gulp, webpack, yeoman, bower)<br />
    - Создание и разработка встраиваемых решений (виртуальная примерочная и другое)<br />
    - Поддержка виртуальных примерочных на различных сайтах (ostin, finflare, mexx, befree и другие)<br />
    - Гибкая система стилизации и модификации шаблонов<br/>
    - Разработка и поддержка социальных приложений Facebook, Vkontakte<br />

  <p>Разработка и поддержка системы автоматизированной
  фото-видео съемки (node-webkit, Angular, Web-Sockets)</p>
    - Работа с FTDI драйверами<br />
    - Управление шаговыми двигателями (С#)<br />
    - Управление LED панелями (DMX512, C++, C#)<br />
    - Управление камерой (C#, Canon SDK)<br />
    - Создание технических требований<br />

  <p>Разработка сервера видео обработки на node.js</p>
  <p>Работа с django backend</p>
  <p>Оптимизация интерфейсов для сенсорных экранов (уличные терминалы, сенсорные мониторы)</p>
  <p>Контроль выполнения и распределение задач (pivotal tracker, you track), code review</p>
  <p>Техническое собеседование новых сотрудников в команду frontend разработки</p>
</article>
