<article>
  <p>Доработка, поддержка CMS Moodle (PHP)</p>
  <p>Поддержка системы вебинаров (Adobe Connect)</p>
  <p>Автоматизация процесса создания электронных учебных пособий (AutoIt)</p>
  <p>Разработка приложения для предоставления электронных учебных пособий (C#)</p>
</article>
