<article>
  <p>Разработка и сопровождение процессов жизненного цикла карт Яндекс.Денег</p>
  <p>Разработка и поддержка фронтенда и бекенда (nodejs) портала, работа с внутренними инструментами</p>
  <p>Работа по БЭМ методологии, React, Redux</p>
  <p>Поддержка легаси кода (XScript), рефакторинг, ревью</p>
</article>
