{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 1 versions"]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "regenerator": true
    }]
  ]
}
