<section class="contacts">
  <img src="{{data.contacts.photo}}" class="contacts__photo" width="100" height="100" alt="{{data.header.title}}" />

  <address>
    <p>email: <a href="mailto:{{data.contacts.email}}">{{data.contacts.email}}</a></p>
    <p>telegram: <a target="_blank" rel="nofollow noopener" href="https://t.me/{{data.contacts.telegram}}">@{{data.contacts.telegram}}</a></p>
    <p>github: <a target="_blank" rel="nofollow noopener" href="https://github.com/{{data.contacts.github}}">{{data.contacts.github}}</a></p>
    <p>linkedin: <a target="_blank" rel="nofollow noopener" href="https://www.linkedin.com/in/{{data.contacts.linkedin}}">{{data.contacts.linkedin}}</a></p>
  </address>
</section>
