<section>
  <h3>{{data.education.title}}</h3>
  <p><span class="education__period">{{data.education.period}}</span> {{data.education.place}}</p>
  <p class="education__description">{{data.education.description}}</p>
</section>
