<section>
  <h3>{{data.projects.title}}</h3>

  <div>
    <p>
      <a class="projects__link" href="https://github.com/rvboris/koa-useragent" target="_blank">koa-useragent</a>
    </p>

    <a href="https://badge.fury.io/js/koa-useragent">
        <img src="https://badge.fury.io/js/koa-useragent.svg" alt="npm version">
    </a>

    <a href="https://travis-ci.org/rvboris/koa-useragent" target="_blank">
      <img src="https://secure.travis-ci.org/rvboris/koa-useragent.png" alt="build status">
    </a>
  </div>
</section>
