<section>
  <h3>{{data.projects.title}}</h3>

  <div>
    <p>
      <a class="projects__link" href="https://github.com/rvboris/koa-useragent" target="_blank">koa-useragent</a>
    </p>

    <a href="https://www.npmjs.com/package/koa-useragent" target="_blank" rel="nofollow noopener">
        <img src="https://img.shields.io/npm/v/koa-useragent.svg" alt="npm version">
    </a>

    <a href="https://circleci.com/gh/rvboris/koa-useragent" target="_blank" rel="nofollow noopener">
      <img src="https://img.shields.io/circleci/project/github/rvboris/koa-useragent/master.svg" alt="build status">
    </a>
  </div>

  <div>
    <p>
      <a class="projects__link" href="https://github.com/rvboris/streamix-bot" target="_blank">streamix-bot</a>
    </p>
  </div>
</section>
