<article>
  <p>Development and maintenance of the client site lookwish.ru (SPA, Angular)</p>
    - Implementation of client-side assembly for old projects (grunt, gulp, webpack, yeoman, bower)<br />
    - Creation and development of embedded solutions JS (dressing, and other developments)<br />
    - Support of the virtual fitting app on variuous sites (ostin, finflare, befree and others)<br />
    - Multi-layout system<br/>
    - Development and maintenance of social applications Facebook, Vkontakte<br />

  <p>Creation and development of automation applications photography (node-webkit, KnockoutJS, Angular, Web-Sockets)</p>
    - Work with FTDI drivers<br />
    - Stepper motor control (C#)<br />
    - LED Light control (DMX512, C++, C#)<br />
    - Camera control (C#, Canon SDK)<br />
    - Creating technical requirements<br />

  <p>Development node.js video processing server</p>
  <p>Work with Django backend</p>
  <p>Optimize interfaces for touch screens (outdoor terminals)</p>
  <p>Control, distribution of tasks (pivotal tracker, you track), code review</p>
  <p>Technical interview new employees in the frontend development team</p>
</article>
