<article>
  <p>Update, support for CMS Moodle (PHP)</p>
  <p>Support for the webinar system (Adobe Connect)</p>
  <p>Automation of the process of creating electronic manuals (AutoIt)</p>
  <p>Developing of an app for the e-book distribution (C#)</p>
</article>
