<article>
  <p>Development and support of the life cycle processes of Yandex.Money cards</p>
  <p>Development and support of the portal front and backend (nodejs), working with internal tools</p>
  <p>Work on BEM methodology, React, Redux</p>
  <p>Support for legacy code (XScript), refactoring, review</p>
</article>
